<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust edit page</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <%- include("../includes/navbar.ejs")%>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post" action="/listings/<%= list._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <h3>Edit your listing</h3>
                <div class="mb-3"> 
                    <label for="title" class="form-label">Title:</label> 
                    <input type="text" name="title"  value="<%= list.title %>" class="form-control" required/>
                    <div class="invalid-feedback">
                        Give a title
                    </div>
                </div>
                <div class="mb-3"> 
                    <label for="description" class="form-label">Description</label> 
                    <input type="text" name="description" value="<%= list.description %>" class="form-control" required/>
                    <div class="invalid-feedback">
                        Give a descripption
                    </div>
                </div>
                <div class="mb-3">
                    <h3>Original image</h3>
                    <img src="<%= org %>" alt="image" height="200" width="200"/>
                </div>
                <div class="mb-3"> 
                    <label for="image" class="form-label">Upload new image</label> 
                    <input type="file" name="image" class="form-control"/>
        
                </div>
                <div class="mb-3"> 
                    <label for="price" class="form-label">Price</label> 
                    <input type="number" name="price"  value="<%= list.price %>" class="form-control" required/>
                    <div class="invalid-feedback">
                        Give a Price
                    </div>
        
                </div>
                <div>
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="location"  value="<%= list.location %>" class="form-control" required/>
                    <div class="invalid-feedback">
                        Give a Location
                    </div>
        
                </div>
                <div>
        
                    <label for="country" class="form-label">Country</label> 
                    <input type="text" name="country"  value="<%= list.country %>" class="form-control" required/>
                    <div class="invalid-feedback">
                        Give a title
                    </div>
        
        
                    
                </div>
                <br>
                <br>
                <button class="btn btn-dark edit-btn mt-3 mb-3"> Edit</button>
            </form>

        </div>

    </div>
    <%- include("../includes/footer.ejs")%>


   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> 
    <script src="/js/script.js"></script>





    
</body>

</html>